body{
	/* background:grey; */
  background: rgba(203, 203, 210, 0.15);
}
#navbar-main{
	background:rgb(185, 183, 173);
}
.navbar-main{
	margin-left: 600px;
}
.navbar-link{
	color: black;
	font-weight: 700px;
	font-size: 17px;
}.container__form{
  margin-top:200px;
}
.homeicon{
  width: 125px;
  height: 125px;
  margin: 30px auto 0px; 
}
.imagehome{
  margin-left: 40%;
  margin-bottom: -165px;
  margin-top: 40px;
}
.header1{
	width: inherit;
	margin: 30px auto 0px;
	background: white;
	text-align: center;
	border: 2px solid;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	font-family: serif;
}

.form{
	width: inherit;
	margin: 0px auto;
	padding: 20px;
  border:2px solid ; 
  /* border-top: none; */
	background:white;
	border-radius: 0px 0px 10px 10px;
}

.form__input{
  border-color: #0d0436;
}

#logintext{
	font-family: serif;
	color: #495057;
	font-weight: bold;
}


.submit{
	padding-top: 20px;
  text-align:center;
   margin-top: -42px;
}

#sell{
	border-radius: 70px;
	padding: 7px;
	background:rgb(10, 66, 112);;
	border:2px solid 0d0436;
	color: white;
	cursor: pointer;
  width:80%;
}

#sell:hover{
	background:#346290;
	transition: all 0.30s;
	border:#346290;
}
#form__reg{
  font-family: Georgia;
  text-align:center;
  padding-top: 20px;
}
.navbar-link:hover{
	color:white;
}
.navbar-link-logo{
	font-size: 30px;
	color:black;
}
.active{
	background: white;
	color: black !important;
	height: 100%;
}
/* banner section */
/* div.banner{
	margin-top: -71px;
} */
#banner{
	width: 100%;
	height: 571px;
	z-index: 1;
}
div.banner-text{
	background: rgb(36, 34, 34);
	margin: -190px 380px 0;
	/* padding-top: -290px; */
	z-index: 2;
	transform-style: preserve-3d;
	color: white;
}
div.find{
	margin: 0 250px;
	background:rgb(19, 17, 12);
	z-index: 2;
	transform-style: preserve-3d;
}
div.find>h5{
	background:rgb(61, 58, 47);
	color: white;
	text-align: center;
}
.container-main{
	margin-top: 50px;
}
.btn-new-apart{
	background:rgb(19, 17, 12);
	color: white;
}
.row-list{
	margin-top:10px;
}
.card-aprt{
	margin-bottom: 20px;
}
.card-list{
	text-align: center;
}

